*{
	margin:0;
	padding: 0;
}
a{ cursor:pointer;}
li{ list-style:none; float:left; cursor:pointer;}
#playments{ width:900px; margin:0 auto;text-align: center;}
.bigimgsul{ width:800px; height:600px; overflow:hidden; position:relative;padding-left:50px;padding-top:30px;}
.bigimgsul li{ position:absolute; z-index:0;width:800px; height:600px;overflow:hidden;}
.markleft{ position:absolute; width:400px; height:600px; background:red; opacity:0; filter:alpha(opacity:0); top:0;left:10; cursor:pointer;}
.markright{ position:absolute; width:400px; height:600px; background:green; opacity:0; filter:alpha(opacity:0); top:0;right:0; cursor:pointer;}
.btnleft{border-radius:30px;position:absolute; width:60px; height:60px; background:url('images/btn.gif') left top no-repeat; z-index:3001; top:280px; left:50px;opacity:0; filter:alpha(opacity:0);}
.btnright{border-radius:30px;position:absolute; width:60px; height:60px; background:url('images/btn.gif') left -60px no-repeat;z-index:3001;top:280px; right:10px;opacity:0; filter:alpha(opacity:0);}
.bigimgsul img{width:800px; height:600px;}
div.smallimgs{ width:800px; overflow:hidden; height:88px; background:#BBB; padding:10px;margin-left:40px;position:relative;}
.smallimgsul{ margin:0px 0px 0px 0px; padding:0px; position:absolute;   left:10px;height:88px; top:10px;}
div.smallimgs li{ margin:0px 10px 5px 0px; opacity:0.4;filter:alpha(opacity:40);}
div.smallimgs img{ width:125px; height:88px; }

  
